<div class="Pokedex">
    <div class="info-container">
        <div class="info">
            <h2>POKEMON CATCHED :</h2>
            <h2>0</h2>
        </div>
        <div class="info">
            <h2>POKEMON ESCAPED :</h2>
            <h2>0</h2>
        </div>
        <div class="poke-btn">
            <button>
                <img src="../img/pokemons/planet.png" alt="map_icon" style="width:100px" />
            </button>
        </div>
    </div>

    
        <p>Test value</p>
        <div>{{$ctrl.pokemons|json}}</div>
    

    <div class="poke-list" >
        <ul>
            <li ng-repeat="pokemon in $ctrl.pokemons">
                <button class="poke-cell" ng-click="$ctrl.redirectToDetail()">
                    <img src={{pokemon.data.sprites.front_default}} alt="sprite of pokemon"
                        style="background-color: white; background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png');">
                </button>
            </li>
        </ul>
    </div>
</div>